:root {
    /* The variables goes here */
    /* All Color variables  */
    --primary-color: #C3073F;
    --secondary-color: #FFF;
    
    --background-color: #1A1A1D;

    
}

#navigation-bar{
    background-color: var(--background-color) !important;
}